.users-container{
  width: 50rem;
  height: 10rem;
  //background: blanchedalmond;
}

.users-container table{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.users-container thead{
  height: 2.5rem;
  background: darkgray;
  //border-bottom:1px solid black;
}
.users-container tbody{
  height: 4rem;
  background: aliceblue;
}
.users-container tr:nth-child(even){
  background: #a0a0a0;
}
.users-container th,
.users-container td{
  height: 3rem;
  padding: 0 20px;
  //border-bottom:1px solid grey;
}
.users-container th{
  border-bottom: 2px solid #333;
}

.delete-icon{
  color: #ec7d7d;
  cursor: pointer;
}
.delete-icon:hover{
  color: red;
}

.edit-icon{
  color: #7df37d;
  cursor: pointer;
}
.edit-icon:hover{
  color: green;
}